.main{
  margin: 5% 15%;
  padding: 1%;
  background-color: #bbbbbb;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
h2{
  text-align: center;
}
h4{
  text-align: center;
}
p {
  text-indent: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.imgtext{
  border-radius:5px;
  max-width: 780px;
  margin: 20px auto;
  text-align: center;
  background-color: #dddddd;
}

@media (max-width: 500px) {
  .main{
    margin: 5% 10%;
  }
  
  p {
    font-size: 0.9rem;
    line-height: 110%;
  }
  h1{
    font-size: 2.0rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.3rem;
  }
  .imgtext{
    line-height: 100%;
    padding-bottom: 1%;
  }
}